h1 {
    color: black;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    background-color: #CFB53B;

}

body {    
	background-color: #e1d084;
	color: #262626;
	font-size: 20;
}

button {
	width: 100px;
	height: 25px;
	font-size: 15;
	margin-left: 15px;
	margin-right: 15px;
}

p.title {
	font-size: 25;
}